html {
    scroll-behavior: smooth;
}

article {
    padding: 20PX;
    margin: auto;
    width: 800px;
    background-color: #edebeb;
    color: #483d3d;
}

h1 {
    text-transform: capitalize;
    text-align: center;
    text-decoration: underline;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    text-align: center;
    text-decoration: underline;
    border:  3px solid white;
   outline:6px solid rgb(69, 68, 68);
}


body {
    background-color: rgb(138, 137, 137);

}

a {
    display: inline-block;
     color : #0e0c0c;
   
}
.circle-img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  object-fit: cover;

  
  border: 6px solid rgb(69, 68, 68);
}

.certificate-link {
    margin-left: 63px;
}
.foooter{
    text-align: right;
}
