html {
    scroll-behavior: smooth;
}

article {
    padding: 20PX;
    margin: auto;
    width: 800px;
    background-color: #fafafa;
    color: #2c2b2b;
}

h1 {
    text-transform: capitalize;
    text-align: center;
    text-decoration: underline;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    text-align: center;
    text-decoration: underline;
    border:  5px solid white;
   outline:6px solid #222b30;
}


body {
    background-color: #0d1117;

}

a {
    display: inline-block;
    color:#0077b6;
}
.circle-img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  object-fit: cover;

  
  border: 6px solid #0d1117;
}
/* .circle-img {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #0d1117;
} */

.certificate-link {
    margin-left: 63px;
}
.foooter{
    text-align: right;
}